html{
    margin: 0px 0px;
    padding: 0px 0px;
    min-width: 380px;
    /*border: 1px solid black;*/
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.main-container{
    /*border: 1px solid black;*/
    margin-top: 57px;
    min-width: 380px;
    
}

.search{
    /*border: 5px solid yellow;*/
    margin: 0px 0px;
    padding: 0px 0px;
    min-width: 380px;
    /*position: fixed;
    top: 100px;
    left: 50%;*/
   
}
.search input{
    border: 3px solid red;
}

.search form{
    /*border: 4px solid red;*/
    max-width: 600px;
    min-width: 380px;
    /*margin: 0px 0px;
    padding: 0px 0px;*/
}

.list-costumer{
    /*border: 3px solid red;*/
    margin: 0px 0px 0px 0px;
    margin-top: 300px;
    padding: 0px 0px;
    min-width: 380px;

}

.list-costumer a{
    /*border: 4px solid yellow;*/
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    /*min-height: 280px;*/

}
.icon{
    margin: 0px 0px;
    padding: 0px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.icon img{
    width: 50px;
    height: 50px;
    margin: 0px 0px;
    padding: 0px 0px;
    border-radius: 5px;
    /*border: 3px solid blueviolet;*/
}

.list-costumer h5, p{
    text-decoration: none;
    color: black;
}

.item-card{
    /*border: 2px solid black;*/
    width: 100%;
    /*height: 200px;*/
    margin: 0px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    /*background-color: red;*/
    height: 60px;
    display: flex;
    justify-content: center;
}

/*.item-card div{
    min-height: 105px;
}*/



.card-body{
    /*border: 2px solid blue;*/
    margin: 0px 0px;
    padding: 5px 5px;
    height: 60px;
    
}

.card-body p{
    /*border: 1px solid black;*/
    margin: 0px 0px;
    padding: 0px 0px;
}

