.main-container{
    border: 1px solid black;
    margin-top: 57px;
    min-width: 350px;
    
}

.search{
    border: 5px solid yellow;
    margin: 0px 0px;
    padding: 0px 0px;
    min-width: 350px;
    /*position: fixed;
    top: 100px;
    left: 50%;*/
   
}

.search form{
    border: 4px solid red;
    max-width: 600px;
    min-width: 350px;
    /*margin: 0px 0px;
    padding: 0px 0px;*/
}

.list-costumer{
    border: 3px solid red;
    margin: 0px 0px 0px 0px;
    margin-top: 300px;
    padding: 0px 0px;
    min-width: 350px;

}

.list-costumer a{
    border: 2px solid green;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 160px;
    display: inline-block;
}

.item-card{
    border: 2px solid black;
    width: 100%;
    /*height: 200px;*/
    margin: 0px 0px;
    padding: 0px 0px;
}

.item-card img{
    border: 2px solid blueviolet;
    width: 100%;
    height: 160px;
}

.card-body{
    border: 2px solid yellow;
    margin: 0px 0px;
    padding: 0px 0px;
}

.card-body p{
    border: 1px solid black;
    margin: 0px 0px;
    padding: 0px 0px;
}