:root{
    --darkColor : #212529;
    --primaryColor : #0d6efd;
}


html{
    box-sizing: border-box;
}
*{
    margin: 0px 0px;
    padding: 0px 0px;
}

/*.container{
    border: 1px solid black;
}*/
.container{
    min-width: 260px;
}

.formulaire{
   /* border: 1px solid blueviolet;*/
    max-width: 500px;
    min-width: 260px;
    border-radius: 30px;
    background-color: var(--darkColor);
}
input{
    min-width: 230px;
}

form, div{
    margin: 0px 0px;
    padding: 0px 0px;
}
/*form{
    border: 1px solid greenyellow;
}*/

.row p{
    text-align: center;
}

/*.titre{
    border: 1px solid black;
}*/

span i{
    font-size: 100px;
    margin: 0px 0px;
    padding: 0px 0px;
    color: var(--primaryColor);
}

button{
    background-color: var(--primaryColor);
    color: var(--primaryColor);
    min-width: 95px;
}

/*span{
    border: 1px solid black;
    margin: 0px 0px;
    padding: 0px 0px;
    height: 100px;
    width: 50px;
}

.icon-user{
    border: 5px solid black;
    width: 50px;
}*/